<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

</style>
<body>
    <div id="main">
    <h1>UPDATE FORM</h1>
    <form action="/update" method="post">
        <input type="text" value="<%=singledata.id%>" hidden name="id">
        <input type="text" value="<%=singledata.name%>" placeholder="Enter Your Name " name="name" style="background-color: transparent;height: 30px;">
        <input type="text" value="<%=singledata.subject%>" placeholder="Enter Your Subject" name="subject" style="background-color: transparent;height: 30px;" >
        <button type="submit" style="background-color: transparent;height: 30px;">UPDATE</button>
    </form>
</div>
</body>
</html>